{% extends 'base.html.twig' %}

{% block title %}CGU
{% endblock %}

{% block body %}

	<h1 class="text-center my-4">Politique de confidentialité</h1>

	<section>
		<h3>RENSEIGNEMENTS PERSONNELS RECUEILLIS</h3>
		<p>
			Lorsque vous vous enregistrez sur le stie, nous recueillons les renseignements personnels que vous nous fournissez, tels que votre nom, votre adresse et votre adresse e-mail.
		</p>

		<h3>CONSENTEMENT</h3>
		<p>
			Comment obtenez-vous mon consentement?
			
			Lorsque vous nous fournissez vos renseignements personnels pour vous inscrire ou emprunter un livre, nous présumons que vous consentez à ce que nous recueillions vos renseignements et à ce que nous les utilisions à cette fin uniquement.
			
			Si nous vous demandons de nous fournir vos renseignements personnels pour une autre raison, à des fins de marketing par exemple, nous vous demanderons directement votre consentement explicite, ou nous vous donnerons la possibilité de refuser.
			
			
			Comment puis-je retirer mon consentement?
			
			Si après nous avoir donné votre consentement, vous changez d'avis et ne consentez plus à ce que nous puissions vous contacter, recueillir vos renseignements ou les divulguer, vous pouvez nous en aviser en nous contactant via notre formulaire de contact en cliquant <a href="{{ path('app_contact') }}">ici<a>.
		</p>

		<h3>DIVULGATION</h3>
		<p>
			Nous pouvons divulguer vos renseignements personnels si la loi nous oblige à le faire ou si vous violez nos Conditions Générales de Vente et d'Utilisation.
		</p>

		<h3>HÉBERGEMENT</h3>
		<p>
			Notre boutique est hébergée sur 772424.
			
			Vos données sont conservées sur un serveur sécurisé protégé par un pare-feu.
		</p>

		<h3>SÉCURITÉ</h3>
		<p>
			Pour protéger vos données personnelles, nous prenons des précautions raisonnables et suivons les meilleures pratiques de l'industrie pour nous assurer qu'elles ne soient pas perdues, détournées, consultées, divulguées, modifiées ou détruites de manière inappropriée.
		</p>

		<h3>MODIFICATIONS APPORTÉES À LA PRÉSENTE POLITIQUE DE CONFIDENTIALITÉ</h3>
		<p>
			Nous nous réservons le droit de modifier la présente politique de confidentialité à tout moment, donc veuillez s'il vous plait la consulter fréquemment. Les changements et les clarifications prendront effet immédiatement après leur publication sur le site web. Si nous apportons des changements au contenu de cette politique, nous vous aviserons ici qu'elle a été mise à jour, pour que vous sachiez quels renseignements nous recueillons, la manière dont nous les utilisons, et dans quelles circonstances nous les divulguons, s'il y a lieu de le faire.
		</p>
	</section>

{% endblock %}
