{% extends "base.html.twig" %}

{% block title %}Gérer les livres{% endblock %}

{% block body %}

  <h1 class="text-center my-3">Gestion des livres</h1>

  {% include "include/_flashes.html.twig" %}

  {# <div class="row">
    <div class="col-6 mx-auto">
      <a href="" class="btn btn-primary col-4"></a>
    </div>
  </div> #}

  <div class="row">
    <div class="col-11 mx-auto">
      <table class="table table-hover">
        <thead class="table-dark">
          <tr>
            <th>#</th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Genre</th>
            <th>Description</th>
            <th>Ajouté le :</th>
            <th>Actions</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>



{% endblock %}